*{

    margin: 0 auto;
    padding: 0;
    max-width: 1280px;
}

  

body{
    font-family: 'Poppins', sans-serif;
    
}

#bContainer{
   background-color : #0C1323;
}

.x { 
    animation: slide calc(1s + 2s * var(--btn-speed)) linear infinite;
}

@keyframes slide {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(95%);
    }
}